body {
    font-family: Helios, sans-serif;
    background-color: #f6eee1;
    color: #834653;
    margin: 0;
    padding: 0;
}

.logo-top {
    text-align: center;
    margin-bottom: 5px;
}

.logo-top-image {
    width: 120px; 
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.menu-wrapper {
    width: 100%;
    border-top: 4px solid #924c56;
    border-bottom: 4px solid #924c56;
    background-color: #f6eee1;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 100%;
}

nav a {
    flex: 1;
    text-align: center;
    font-family: Helios, sans-serif;
    text-decoration: none;
    color: #924c56;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    border-left: 2px solid #924c56;
    border-right: 2px solid #924c56;
    background-color: #f6eee1;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #924c56;
    color: #f6eee1;
}

nav a:first-child {
    border-left: none;
}

nav a:last-child {
    border-right: none;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;         
}

.portfolio-image {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin-bottom: 0;
  margin-top: 0;       
}

.portfolio-section {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 0 0 0 100px; 
  background-color: #f6eee1;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-top: -20px;
}

.portfolio-images img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  padding-top: 0;
}

.portfolio-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  max-width: 500px;
  padding-top: 20px;
}

.portfolio-text h2 {
  font-size: 40px;
  margin-bottom: 0;
  color: #924c56;
  font-family: "Tex Gyre Termes", serif;
}

.portfolio-text h3 {
  font-size: 15px;
  margin-bottom: 15px;
  color: #924c56;
  font-family: Helios, sans-serif;
  line-height: 2;
}

.view-button {
  display: inline-block;
  background-color: #834653;
  color: #f6eee1;
  padding: 10px 24px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-button:hover {
  background-color: #af5c70;
  transform: scale(1.05);
}

.portfolio-section2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 40px;
  padding: 0 80px 0 0;
  background-color: #924c56;
  flex-wrap: wrap;
  margin-top: 30px;
}

.portfolio-images2 img {
  height: 300px;
  object-fit: cover;
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio-text2 {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  max-width: 500px;
  padding-top: 10px;
}

.portfolio-text2 h2 {
  font-size: 40px;
  margin-bottom: 0;
  color: #f6eee1;
  font-family: "Tex Gyre Termes", serif;
}

.portfolio-text2 h3 {
  font-size: 15px;
  margin-bottom: 15px;
  color: #f6eee1;
  font-family: Helios, sans-serif;
  line-height: 2;
}

.view-button2 {
  display: inline-block;
  background-color: #f6eee1;
  color: #924c56;
  padding: 10px 24px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-button2:hover {
  background-color: #fde9c7;
  transform: scale(1.05);
}

.portfolio-section3 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 0 0 0 100px; 
  background-color: #f6eee1;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.portfolio-images3 img {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.portfolio-text3 {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  max-width: 500px;
  padding-top: 30px;
}

.portfolio-text3 h2 {
  font-size: 40px;
  margin-bottom: 0;
  color: #924c56;
  font-family: "Tex Gyre Termes", serif;
}

.portfolio-text3 h3 {
  font-size: 15px;
  margin-bottom: 15px;
  color: #924c56;
  font-family: Helios, sans-serif;
  line-height: 2;
}

.view-button3 {
  display: inline-block;
  background-color: #834653;
  color: #f6eee1;
  padding: 10px 24px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-button3:hover {
  background-color: #af5c70;
  transform: scale(1.05);
}

.portfolio-section4 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 40px;
  padding: 0 80px 0 0;
  background-color: #924c56;
  flex-wrap: wrap;
  margin-top: 35px;
}

.portfolio-images4 img {
  height: 300px;
  object-fit: cover;
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio-text4 {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  max-width: 500px;
  padding-top: 30px;
}

.portfolio-text4 h2 {
  font-size: 40px;
  margin-bottom: 0;
  color: #f6eee1;
  font-family: "Tex Gyre Termes", serif;
}

.portfolio-text4 h3 {
  font-size: 15px;
  margin-bottom: 15px;
  color: #f6eee1;
  font-family: Helios, sans-serif;
  line-height: 2;
}

.view-button4 {
  display: inline-block;
  background-color: #f6eee1;
  color: #924c56;
  padding: 10px 24px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.view-button4:hover {
  background-color: #fde9c7;
  transform: scale(1.05);
}

.custom-footer {
    background-color: #f6eee1; 
    color: #924c56;
    padding: 30px 10px;
    text-align: center;
    margin-top: 0;
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.scroll-reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.custom-footer {
    background-color: #f6eee1; 
    color: #924c56;
    padding: 30px 10px;
    text-align: center;
    margin-top: 0;
}

.custom-footer {
  background-color: #f6eee1;
  padding: 20px 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-left-image {
  width: 120px;
  height: auto;
  display: block;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
}

.footer-left p {
  margin: 0;
  font-size: 18px;
  color: #924c56;
  font-weight: bold;
}

.footer-right {
  align-items: flex-end;
  text-align: right;
}

.footer-right h4 {
  font-size: 20px;
  color: #924c56;
  margin-right: 10px ;
  padding-bottom: 2px;
  padding-top: 5px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}


@media (min-width: 768px) {
    .portfolio-section,
    .portfolio-section2,
    .portfolio-section3,
    .portfolio-section4 {
        flex-direction: row;
    }
    .portfolio-section2,
    .portfolio-section4 {
        flex-direction: row-reverse;
    }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }

  nav a {
    border: none;
    border-top: 1px solid #924c56;
    border-bottom: 1px solid #924c56;
  }

  .logo-top-image {
    width: 140px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-left,
  .footer-right {
    border: none;
    padding: 10px 0;
  }
}